results/
predictions/
misc_standards/
rand/

MERGED_*
*.svg

processed_results/
archived/
all_results*
*.pyc
aws/custom_bootstrap.sh
aws/launch_specification_custom.json
misc_saved_scripts.txt
logs/
misc_results/