out/
results/
predictions/
misc_standards/
rand/
misc_results/
standard_results/
uid_sets/
tmp.json
s3/

MERGED_*
*.svg

processed_results/
archived/
all_results*
*.pyc
aws/custom_bootstrap.sh
aws/launch_specification_custom.json
misc_saved_scripts.txt
logs/
aws_helper.py